@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #dfdfdf;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.inputText{
  width: 100%;
  border: 10px;
  padding: 5px 10px;
}
.modalCenter{
  position: absolute;
  left: 37%;
  right:0;
  top: 40%;
  bottom:0;
  z-index: 1;
}
.cardCenter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link{
  color: #dfdfdf;
  list-style: none;
  transition: color 0.5 ease;
}
.link:hover,.active{
  border-bottom: 1px solid #50f8c0;
  color: #50f8c0;
}
.colorOne{
  color: #50f8c0;
}.colorTwo{
  color: #faba31;
}
.backOne{
  background-color: #50f8c0;
}
.backTwo{
  background-color: #faba31;
}
.centerBoard{
  display: flex;
  flex-direction: column;
  align-items: center
  ;
}
.tableLink{
  font-weight: bold;
  font-size: 20px;
  opacity: 0.5;
}
.tableLink:hover,.tableLinkActive{
  border-bottom: 1px solid #dfdfdf;
  opacity: 1;
  color: #dfdfdf;
}